<!DOCTYPE html>
<html>
<head>
  <title>Conversor de Unidade</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'conversor', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="converter-container">
    <h1>Conversor de Unidades</h1>

    <%= form_tag({ controller: 'ferraments', action: 'conversor' }, method: :post, remote: true, url: controller_path) do %>
      <div class="input-section">
        <%= label_tag 'inputValue', 'Digite o valor:' %>
        <%= number_field_tag 'valor', nil, id: 'inputValue', placeholder: 'Insira o valor', required: true %>
      </div>

      <div class="unit-selection">
        <%= label_tag 'fromUnit', 'De:' %>
        <%= select_tag 'unidade_entrada', options_for_select([['Metro', 'metro'], ['Centímetro', 'centimetro'], ['Milímetro', 'milimetro']]), id: 'fromUnit' %>

        <%= label_tag 'toUnit', 'Para:' %>
        <%= select_tag 'unidade_saida', options_for_select([['Metro', 'metro'], ['Centímetro', 'centimetro'], ['Milímetro', 'milimetro']]), id: 'toUnit' %>
      </div>

      <%= submit_tag 'Converter', id: 'convertBtn' %>
    <% end %>

    <div class="result-section">
      <p>Resultado:</p>
      <span id="resultValue"><%= @valor %></span>
    </div>
  </div>
</body>
</html>
