<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'geometria', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= form_tag({ controller: 'ferraments', action: 'geometria' }, method: :post, remote: true, url: geometria_path) do %>
    <div class="calculator-container">
      <div class="shape-section" id="triangle-section">
        <h2>Triângulo</h2>
        <label for="base">Base:</label>
        <%= number_field_tag 'base', nil, id: 'base', placeholder: 'Insira a base' %>
        <label for="height">Altura:</label>
        <%= number_field_tag 'altura', nil, id: 'height', placeholder: 'Insira a altura' %>
        <%= submit_tag 'Calcular Área', id: 'calculateTriangle' %>
        <p class="result" id="resultTriangle">Área: <%= @area_triangulo %> <br> Perímetro: <%= @perimetro_triangulo %></p>
      </div>

      <div class="shape-section" id="square-section">
        <h2>Retângulo</h2>
        <label for="side">Base:</label>
        <%= number_field_tag 'base1', nil, id: 'side', placeholder: 'Insira a base' %>
        <label for="height">Altura:</label>
        <%= number_field_tag 'altura1', nil, id: 'height', placeholder: 'Insira a altura' %>
        <%= submit_tag 'Calcular Área', id: 'calculateSquare' %>
        <p class="result" id="resultSquare">Área: <%= @area_retangulo %> <br> Perímetro: <%= @perimetro_retangulo %> <br> Diagonal: <%= @diagonal_retangulo %></p>
      </div>
    </div>
  <% end %>
</body>
</html>
